<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contacts.app</title>
    <link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.1">
    <link rel="stylesheet" href="/static/site.css">
</head>

<body>
    <main>
        <header>
            <h1>
                <div class="allcaps">contacts.app</div>
                <sub-title>A Demo Contacts Application</sub-title>
            </h1>
        </header>
        {{embed}}
    </main>
</body>

</html>