<form action="/contacts/new" method="post">
    <fieldset>
        <legend>Contact Values</legend>
        <p>
            <label for="email">Email</label>
            <input name="email" id="email" type="email" value="{{.form.Email}}">
            <span class="error">{{index .form.Errors "email"}}</span>
        </p>
        <p>
            <label for="firstName">First Name</label>
            <input name="firstName" id="firstName" type="text" value="{{.form.FirstName}}">
            <span class="error">{{index .form.Errors "firstName"}}</span>
        </p>
        <p>
            <label for="lastName">Last Name</label>
            <input name="lastName" id="lastName" type="text" value="{{.form.LastName}}">
            <span class="error">{{index .form.Errors "lastName"}}</span>
        </p>
        <p>
            <label for="phoneNumber">Phone</label>
            <input name="phoneNumber" id="phoneNumber" type="text" value="{{.form.PhoneNumber}}">
            <span class="error">{{index .form.Errors "phoneNumber"}}</span>
        </p>
        <button>Save</button>
    </fieldset>
</form>

<p>
    <a href="/contacts">Back</a>
</p>